
body {
    background-color: #121212;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 2rem;
}
.container {
    max-width: 700px;
    margin: auto;
}
.boton-opcion {
    margin: 10px 0;
}
.oculto {
    display: none;
}
